<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- javascript
    ============================================= -->
    <script type="text/javascript"  src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript"  src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script  type="text/javascript" src="/javascripts/help_guide.js"> </script>

    <script>


    </script>

    <!-- Stylesheets
    ============================================= -->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="stylesheets/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="stylesheets/help_guide.css" rel="stylesheet"  type="text/css" />

    <!-- Document Title
    ============================================= -->
    <title> 카카오톡 분석기 TORY </title>
  </head>

  <body>

    <!-- Header
    ============================================= -->
    <header style="background-image:url('/images/top_1.png')">
      <img src="images\LOGO.png" class="center-block" style="padding-top:1%;width:6%;">
    </header><!-- #header end -->

    <div class="section" style="padding:0px;">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="container">
              <div class="row">
                <div class="col-md-12">
                  <!-- Content : help guide slides
                  ============================================= -->
                  <div id="fullcarousel-example" data-interval="false" class="carousel slide" data-ride="carousel" style="margin-left: 20%;">
                    <div class="carousel-inner">
                      <div class="item active" id="slide1">
                        <img src="/images/img_help_1.png">
                      </div>
                      <img src="/images/dot_1.png" id="page1" class="center-block">
                      <p id="caption1">1. 카카오톡 채팅방을 켜주세요</p>
                      <div class="item" id="slide2">
                        <img src="/images/img_help_2.png">
                      </div>
                      <img src="/images/dot_2.png" id="page2" class="center-block">
                      <p id="caption2">2. 메뉴 - 대화 내용 - 대화 내보내기를 해주세요</p>
                      <div class="item" id="slide3">
                        <img src="/images/img_help_3.png">
                      </div>
                      <img src="/images/dot_3.png" id="page3" class="center-block">
                      <p id="caption3">3. 내보내기 한 파일을 저장해주세요</p>
                      <div class="item" id="slide4">
                        <img src="/images/img_help_4.png">
                      </div>
                      <img src="/images/dot_4.png" id="page4" class="center-block">
                      <p id="caption4">4. 폴더를 열어주세요</p>
                      <div class="item" id="slide5">
                        <img src="/images/img_help_5.png">
                      </div>
                      <img src="/images/dot_5.png" id="page5" class="center-block">
                      <p id="caption5">5. 파일을 원 안에 끌어다 놓으세요</p>
                    </div>

                    <form action="/help_send" method="post" id="help_send">
                      <% if (result.indexOf("pig") > -1 || result == "pig"){ %>
                        <input type="checkbox" name="option" id="pig" value="pig" style="display:none" checked>
                      <% } %>
                      <% if (result.indexOf("fuck") > -1 || result == "fuck"){ %>
                        <input type="checkbox" name="option" id="fuck" value="fuck" style="display:none" checked>
                      <% } %>
                      <% if (result.indexOf("photo") > -1 || result == "photo"){ %>
                        <input type="checkbox" name="option" id="photo" value="photo" style="display:none" checked>
                      <% } %>
                      <% if (result.indexOf("sorry") > -1 || result == "sorry"){ %>
                        <input type="checkbox" name="option" id="sorry" value="sorry" style="display:none" checked>
                      <% } %>
                      <% if (result.indexOf("chat_end") > -1 || result == "chat_end"){ %>
                        <input type="checkbox" name="option" id="chat_end" value="chat_end" style="display:none" checked>
                      <% } %>
                      <% if (result.indexOf("chat_start") > -1 || result == "chat_start") { %>
                        <input type="checkbox" name="option" id="chat_start" value="chat_start" style="display:none" checked>
                      <% } %>
                      <% if (result.indexOf("disorder") > -1 || result == "disorder"){ %>
                        <input type="checkbox" name="option" id="disorder" value="disorder" style="display:none" checked>
                      <% } %>
                      <% if (result.indexOf("share") > -1 || result == "share"){ %>
                        <input type="checkbox" name="option" id="share" value="share" style="display:none" checked>
                      <% } %>
                      <% if (result.indexOf("late") > -1 || result == "late"){ %>
                        <input type="checkbox" name="option" id="late" value="late" style="display:none" checked>
                      <% } %>

                      <!--<a href="#"><img src="/images/btn_do_over.png" id="analyze_img"></a>-->

                    <!-- Slide close button
                    ============================================= -->
                      <img src="/images/btn_help_close.png" id="btn_close1" onclick="document.forms['help_send'].submit()">
                      <img src="/images/btn_help_close_2.png" id="btn_close2" onclick="document.forms['help_send'].submit()">
                    </form>
                    <!-- Slide Next,Prev button
                    ============================================= -->
                    <a class="left carousel-control" href="#fullcarousel-example" data-slide="prev" style="height:15%;display:none;" id="prev_btn">
                      <img src="/images/btn_left_shd.png" class="button" >
                    </a>
                    <a class="right carousel-control" href="#fullcarousel-example" data-slide="next" style="height:15%;" id="next_btn">
                      <img src="/images/btn_right_shd.png" class="button">
                    </a>


                    <!-- #end Slide Next,Prev button -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
</html>
