<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- javascript
        ============================================= -->
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/javascripts/index.js"></script>

        <script>
          $(".rank1").click(function() {
            $('input[id="pig"]').attr("checked", true);
          });
          $(".rank2").click(function() {
            $('input[id="fuck"]').attr("checked", true);
          });
          $(".rank3").click(function() {
            $('input[id="photo"]').attr("checked", true);
          });
          $(".rank4").click(function() {
            $('input[id="sorry"]').attr("checked", true);
          });
          $(".rank5").click(function() {
            $('input[id="chat_end"]').attr("checked", true);
          });
          $(".rank6").click(function() {
            $('input[id="chat_start"]').attr("checked", true);
          });
          $(".rank7").click(function() {
            $('input[id="disorder"]').attr("checked", true);
          });
          $(".rank8").click(function() {
            $('input[id="share"]').attr("checked", true);
          });
          $(".rank9").click(function() {
            $('input[id="late"]').attr("checked", true);
          });


        </script>

        <!-- stylesheets
        ============================================= -->
        <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="/stylesheets/bootstrap.css" rel="stylesheet" type="text/css">
        <link href="/stylesheets/index.css" rel="stylesheet" type="text/css" />
        <!-- Document Title
        ============================================= -->
        <title>카카오톡 분석기 TORY</title>

    </head>
      <body>
        <!-- Header
          ============================================= -->
          <header>
              <div class="headertop" style="background-image:url('/images/top_1.png');">
                  <img src="/images/LOGO.png" class="center-block" style="padding-top:1%;width:6%;" id="logo">
              </div>

              <div class="headermiddle" style="background-image:url('/images/top_1.png');">
              <p class="col-md-12 text-center" id="comment">카카오톡 그룹채팅 분석 서비스<br>
                <span id="history">HIS<span id="comment_tory">TORY</span></span><br><br>
                  <span id="comment_below">TORY는 카카오톡 그룹 채팅방 내용을 바탕으로
                    <br> 채팅방 내 "아가리어터, 상습지각자, 맥커터..." 들을
                    <br> 적나라하게 색출해냅니다</span>
                  <br>
              </p>
            </div>

            <div class="headerbottom" style="background-image:url('/images/top_1.png');">
                <img src="/images/btn_down.png" id="btn_down" class="headerbtn">
                <img src="/images/btn_up.png" id="btn_up" class="headerbtn">
            </div>
          </header><!-- #end header -->

<form action="/send" method="post">
  <input type="checkbox" name="option" id="pid" value="pig" style="display:none">
  <input type="checkbox" name="option" id="fuck" value="fuck" style="display:none">
  <input type="checkbox" name="option" id="photo" value="photo" style="display:none">
  <input type="checkbox" name="option" id="sorry" value="sorry" style="display:none">
  <input type="checkbox" name="option" id="chat_end" value="chat_end" style="display:none">
  <input type="checkbox" name="option" id="chat_start" value="chat_start" style="display:none">
  <input type="checkbox" name="option" id="disorder" value="disorder" style="display:none">
  <input type="checkbox" name="option" id="share" value="share" style="display:none">
  <input type="checkbox" name="option" id="late" value="late" style="display:none">
  <button type="submit" id="submit" style="display:none">Submit</button>
</form>

          <!-- content
          ============================================= -->
          <div class="content">
            <div class="innner_content">
              <div class="align_method">
                  <a herf="#"><span id="ganada"> 가나다순 </span></a>|
                  <a herf="#"><span id="popular"> 인기순</span></a>
            </div>

              <!-- First card (rank1)
              ============================================= -->
              <div class="rank1" style="background-image:url('/images/contents_late.png')">
                  <div id="card_1_back"></div>
                      <p id="card_1_des">상습지각자</p>
                      <img src="/images/icn_check.png" id="card_1_check">
                      <img src="/images/detail.png" id="card_1_detail" data-toggle="modal" data-target="#modal1">
                      <img src="/images/label_1.png" id="card_1_label">
                  </div>
              <br>

              <!-- second card (rank2)
              ============================================= -->
              <div class="rank2" style="background-image:url('/images/contents_cutter.png')">
                  <div id="card_2_back"></div>
                    <p id="card_2_des">맥커터</p>
                      <img src="/images/icn_check.png" id="card_2_check">
                      <img src="/images/detail.png" id="card_2_detail" data-toggle="modal" data-target="#modal2">
                      <img src="/images/label_2.png" id="card_2_label">
              </div>

              <!-- third card (rank3)
              ============================================= -->
              <div class="rank3" style="background-image:url('/images/contents_share_1.png')">
                  <div id="card_3_back"></div>
                    <p id="card_3_des">공유킹</p>
                      <img src="/images/icn_check.png" id="card_3_check">
                      <img src="/images/detail.png" id="card_3_detail" data-toggle="modal" data-target="#modal3">
                      <img src="/images/label_3.png" id="card_3_label">
              </div>

              <!-- Fourth card (rank4)
              ============================================= -->
              <div class="rank4" style="background-image:url('/images/contents_L_pill.jpg')">
                <div id="card_4_back"></div>
                  <p id="card_4_des">결정장애</p>
                    <img src="/images/icn_check.png" id="card_4_check">
                    <img src="/images/detail.png" id="card_4_detail" data-toggle="modal" data-target="#modal4">
              </div>
              <br>

              <!-- Fifth card (rank5)
              ============================================= -->
              <div class="rank5" style="background-image:url('/images/contents_M_diet.jpg')">
                <div id="card_5_back"></div>
                  <p id="card_5_des">아가리어터</p>
                    <img src="/images/icn_check.png" id="card_5_check">
                    <img src="/images/detail.png" id="card_5_detail" data-toggle="modal" data-target="#modal5">
              </div>

              <!-- Sixth card (rank6)
              ============================================= -->
              <div class="rank6" style="background-image:url('/images/contents_S_photo.jpg')">
                <div id="card_6_back"></div>
                  <p id="card_6_des">포토그래퍼</p>
                    <img src="/images/icn_check.png" id="card_6_check">
                    <img src="/images/detail.png" id="card_6_detail" data-toggle="modal" data-target="#modal6">
              </div>

              <!-- Seventh card (rank7)
              ============================================= -->
              <div class="rank7" style="background-image:url('/images/contents_L_starter.jpg')">
                <div id="card_7_back"></div>
                  <p id="card_7_des">할일없는놈</p>
                  <img src="/images/icn_check.png" id="card_7_check">
                  <img src="/images/detail.png" id="card_7_detail" data-toggle="modal" data-target="#modal7">
              </div>
              <br>

              <!-- Eighth card (rank8)
              ============================================= -->
              <div class="rank8" style="background-image:url('/images/contents_M_xxx.jpg')">
                <div id="card_8_back"></div>
                  <p id="card_8_des">욕쟁이</p>
                  <img src="/images/icn_check.png" id="card_8_check">
                  <img src="/images/detail.png" id="card_8_detail" data-toggle="modal" data-target="#modal8">
              </div>

              <!-- Nineth card (rank9)
              ============================================= -->
              <div class="rank9" style="background-image:url('/images/contents_S_sorry-13.jpg')">
                <div id="card_9_back"></div>
                  <p id="card_9_des">ㅈㅅ장인</p>
                  <img src="/images/icn_check.png" id="card_9_check">
                  <img src="/images/detail.png" id="card_9_detail" data-toggle="modal" data-target="#modal9">
              </div>

              <!-- count & analyze icon
              ============================================= -->
              <div class="analyzerclass">
                  <img src="/images/btn_do_check_1.png" id="count_img">
                  <span id="count_txt"> 0 </span>
                  <button type="button" class="btn" style="display: none;"><img src="/images/btn_do_over.png" id="analyze_img"></button>
              </div>
            </div><!--end innner_content-->

              <!-- Modal (first card) -->
              <div class="modal fade" id="modal1" role="dialog">
                  <div class="modal-dialog">
                      <!-- Modal content-->
                      <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">×</button>
                                <h4 class="modal-title"> 상습지각자 색출 </h4>
                            </div>
                              <div class="modal-body"> <img src="/images/modal.png" id="modal1_img"></div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                            </div>
                      </div>
                  </div>
              </div><!--end 1st modal-->

              <!-- Modal (2nd card) -->
              <div class="modal fade" id="modal2" role="dialog">
                  <div class="modal-dialog">
                      <!-- Modal content-->
                      <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">×</button>
                                <h4 class="modal-title"> 맥커터 </h4>
                            </div>
                              <div class="modal-body"> <img src="/images/modal.png" id="modal1_img"></div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                            </div>
                      </div>
                  </div>
              </div><!--end 2nd modal-->

              <!-- Modal (3rd card) -->
              <div class="modal fade" id="modal3" role="dialog">
                  <div class="modal-dialog">
                      <!-- Modal content-->
                      <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">×</button>
                                <h4 class="modal-title"> 공유킹 </h4>
                            </div>
                              <div class="modal-body"> <img src="/images/modal.png" id="modal1_img"></div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                            </div>
                      </div>
                  </div>
              </div>  <!--end 3rd modal-->

              <!-- Modal (4th card) -->
              <div class="modal fade" id="modal4" role="dialog">
                  <div class="modal-dialog">
                      <!-- Modal content-->
                      <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">×</button>
                                <h4 class="modal-title"> 결정장애 </h4>
                            </div>
                              <div class="modal-body"> <img src="/images/modal.png" id="modal1_img"></div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                            </div>
                      </div>
                  </div>
              </div>  <!--end 4th modal-->

              <!-- Modal (5th card) -->
              <div class="modal fade" id="modal5" role="dialog">
                  <div class="modal-dialog">
                      <!-- Modal content-->
                      <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">×</button>
                                <h4 class="modal-title"> 아가리어터 </h4>
                            </div>
                              <div class="modal-body"> <img src="/images/modal.png" id="modal1_img"></div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                            </div>
                      </div>
                  </div>
              </div>  <!--end 5th modal-->

              <!-- Modal (6th card) -->
              <div class="modal fade" id="modal6" role="dialog">
                  <div class="modal-dialog">
                      <!-- Modal content-->
                      <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">×</button>
                                <h4 class="modal-title"> 포토그래퍼 </h4>
                            </div>
                              <div class="modal-body"> <img src="/images/modal.png" id="modal1_img"></div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                            </div>
                      </div>
                  </div>
              </div>  <!--end 6th modal-->

              <!-- Modal (7th card) -->
              <div class="modal fade" id="modal7" role="dialog">
                  <div class="modal-dialog">
                      <!-- Modal content-->
                      <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">×</button>
                                <h4 class="modal-title"> 할일없는놈 </h4>
                            </div>
                              <div class="modal-body"> <img src="/images/modal.png" id="modal1_img"></div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                            </div>
                      </div>
                  </div>
              </div>  <!--end 7th modal-->

              <!-- Modal (8th card) -->
              <div class="modal fade" id="modal3" role="dialog">
                  <div class="modal-dialog">
                      <!-- Modal content-->
                      <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">×</button>
                                <h4 class="modal-title"> 욕쟁이 </h4>
                            </div>
                              <div class="modal-body"> <img src="/images/modal.png" id="modal1_img"></div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                            </div>
                      </div>
                  </div>
              </div>  <!--end 8th modal-->

              <!-- Modal (9th card) -->
              <div class="modal fade" id="modal9" role="dialog">
                  <div class="modal-dialog">
                      <!-- Modal content-->
                      <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">×</button>
                                <h4 class="modal-title"> 스미마셍 </h4>
                            </div>
                              <div class="modal-body"> <img src="/images/modal.png" id="modal1_img"></div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
                            </div>
                      </div>
                  </div>
              </div>  <!--end 9th modal-->

          </div><!-- end content-->
      </body>
  </html>
